body {
  color: var(--dark);
  background-color: var(--light);
}

h2 {
  margin: 3rem 0 1.5rem 0;
}

p {
  font-family: monospace;
  font-size: 1em;
  line-height: 1.4em;
  text-align: left;
  margin: 2em 0;
  text-align: left;
}

pre {
  background-color: #2222220f;
  border-radius: var(--radii-md);
  padding: 1em 2em;
  text-align: left;
  line-height: 1.5;
}
