:root {
  --dark: #323232;
  --blue: #006aff;
  --light: #fff;
  --default-shadow: 0px 0px 3px 1px #222;

  --space-pager-tab-height: 2rem;
  --space-content-width: 720px;

  --radii-md: 0.5rem;

  --text-shadow-blue: 0 0 2px var(--blue);
}

* {
  box-sizing: border-box;
  text-shadow: 0px 0px 2px #888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: var(--blue);
  text-transform: uppercase;
}

p {
  font-family: var(--font-sans);
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 1.6em;

  margin: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-press-start);
  color: var(--light);
  background-color: var(--dark);
  text-align: center;

  font-size: 16px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}
