.container {
  overflow: visible;
  width: 100%;
  gap: 1rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    padding: 0 1rem;
  }
}
